name: Pull_Request_Build_Test

on: 
    pull_request:
        branches:
            - main
    workflow_dispatch:


jobs: 
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup .NET Core
              uses: actions/setup-dotnet@v4.1.0
              with:
                dotnet-version: "8.0.x"


            - name: Restore dependencies
              run: dotnet restore "${{ github.workspace }}/src/mywebapp.sln"

            - name: Build
              run: dotnet build "${{ github.workspace }}/src/mywebapp.sln" --no-restore --configuration Release

            - name: Test
              run: |
                mkdir -p "${{ github.workspace }}/results"
                dotnet test "${{ github.workspace }}/src/mywebapp.sln" --no-restore --logger:"junit;LogFilePath=${{ github.workspace }}/results/test-results.xml"



            - name: Create test summary 
              if: always()
              uses: test-summary/action@v2.4
              with: 
                paths: ${{ github.workspace }}/results/*.xml
                output: ${{ github.workspace }}/results/summary.md
                show: "all"


            - name: Add Test Results To Job Summary
              if: always()
              run: |
                echo "TEST RESULTS:" >> $GITHUB_STEP_SUMMARY
                echo "" >> $GITHUB_STEP_SUMMARY 
                cat "${{ github.workspace }}/results/summary.md" >> $GITHUB_STEP_SUMMARY


            - name: Publish
              run: dotnet publish "${{ github.workspace }}/src/mywebapp/mywebapp.csproj" -c Release -o mywebapp

            - name: Upload build artifact
              uses: actions/upload-artifact@v4
              with:
                name: myapp
                path: mywebapp/**
                if-no-files-found: error


